<div class="row">

    <div class="col-md-12">
        <div class="row align-items-start h-100">


            <div class="col-md-4 h-100">
                <div class="qui-home-inter qui-home-inter2 h-100">
                    <h5 class="qui-titleh5 mb-5">
                        Información de la empresa
                    </h5>

                    <div class="qui-item mb-3">
                        <h6>
                            Nombre
                        </h6>
                        <p>
                            Quipux SAS
                        </p>
                    </div>

                    <div class="qui-item mb-3">
                        <h6>
                            Fecha de creación
                        </h6>
                        <p>
                            1995 / 06 / 11
                        </p>
                    </div>

                    <div class="qui-item mb-3">
                        <h6>
                            Dirección
                        </h6>
                        <p>
                            Carrera 43A Nº 3Sur - 130
                        </p>
                        <p>
                            Ed. Milla de Oro
                        </p>
                        <p>
                            Distrito de Negocios Torre 1
                        </p>
                        <p>
                            Piso 12
                        </p>
                        <p>Medellin - Colombia</p>
                    </div>

                    <div class="qui-item mb-3">
                        <h6>
                            Numero de Telefonos
                        </h6>
                        <p>
                            Fijo
                        </p>
                        <p>
                            +57 (4) 313-70-00
                        </p>
                        <p>
                            Fax
                        </p>
                        <p>
                            +57 (4) 313-44-77
                        </p>
                    </div>

                    <div class="qui-item mb-3">
                        <h6>
                            Sitio Web
                        </h6>
                        <p>
                            <a href=" https://www.quipux.com/" target="blank">
                                wwww.quipux.com/site
                            </a>
                        </p>
                    </div>


                </div>
            </div>


            <div class="col-md-8">
                <div class="row ">
                    <div class="col-md-12">

                        <div class="qui-home-inter">
                            <app-slider></app-slider>
                        </div>
                    </div>
                    <div class="col-md-12 mt-4">
                        <div class="qui-home-inter">

                            <div class="row">
                                <div class="col-md-6 offset-md-6">
                                    <div class="qui-item mb-3 text-left">

                                        <p>
                                            Contrary to popular belief, Lorem Ipsum is not simply random
                                            text. It has roots in a piece of classical Latin literature
                                            from 45 BC, making it over 2000 years old. Richard McClintock, a
                                            Latin professor at Hampden-Sydney College in Virginia,
                                            looked up one of the more obscure Latin words, consectetur, from
                                            a Lorem Ipsum passage, and going through the cites of
                                            the word in classical literature, discovered the undoubtable
                                            source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33
                                            of "de Finibus Bonorum et Malorum" (The Extremes of Good and
                                            Evil) by Cicero, written in 45 BC. This book is a treatise
                                            on the theory of ethics, very popular during the Renaissance.
                                            The first line of Lorem Ipsum, "Lorem ipsum dolor sit
                                            amet..", comes from a line in section 1.10.32.
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>