<div class="row h-100">

    <div class="col-md-12">
        <div class="row ">


            <div class="col-md-4">
                <div class="qui-home-inter h-100">
                    <h5 class="qui-titleh5 mb-5">
                        Información de la empresa
                    </h5>

                    <div class="qui-item mb-3">
                        <h6>
                            Nombre
                        </h6>
                        <p>
                            Quipux SAS
                        </p>
                    </div>

                    <div class="qui-item mb-3">
                        <h6>
                            Fecha de creación
                        </h6>
                        <p>
                            1995 / 06 / 11
                        </p>
                    </div>

                    <div class="qui-item mb-3">
                        <h6>
                            Dirección
                        </h6>
                        <p>
                            Carrera 43A Nº 3Sur - 130
                        </p>
                        <p>
                            Ed. Milla de Oro
                        </p>
                        <p>
                            Distrito de Negocios Torre 1
                        </p>
                        <p>
                            Piso 12
                        </p>
                        <p>Medellin - Colombia</p>
                    </div>

                    <div class="qui-item mb-3">
                        <h6>
                            Numero de Telefonos
                        </h6>
                        <p>
                            Fijo
                        </p>
                        <p>
                            +57 (4) 313-70-00
                        </p>
                        <p>
                            Fax
                        </p>
                        <p>
                            +57 (4) 313-44-77
                        </p>
                    </div>

                    <div class="qui-item mb-3">
                        <h6>
                            Sitio Web
                        </h6>
                        <p>
                            <a href=" https://www.quipux.com/" target="blank">
                                wwww.quipux.com/site
                            </a>
                        </p>
                    </div>


                </div>
            </div>


            <div class="col-md-8">
                <div class="qui-home-inter">
                    <div class="row ">
                        <div class="col-md-12 ">
                            <h5 class="qui-titleh5 mb-5">
                                Información de la empresa
                            </h5>
                        </div>
                        <div class="col-md-6 border-right">

                            <div class="qui-item mb-3">
                                <h6>
                                    Dirección
                                </h6>
                                <p>
                                    Carrera 43A Nº 3Sur - 130
                                </p>
                                <p>Medellin - Colombia</p>
                            </div>

                            <div class="qui-item mb-3">
                                <h6>
                                    Correo Electrónico
                                </h6>
                                <p>
                                    usuario.apellido@gmail.com
                                </p>
                                <p>Medellin - Colombia</p>
                            </div>
                            <div class="qui-item mb-3">
                                <h6>
                                    Sitio Web
                                </h6>
                                <p>
                                    <a href=" https://wwww.usuarioapellido.com" target="blank">
                                        wwww.usuarioapellido.com
                                    </a>
                                </p>
                            </div>
                            <div class="qui-item mb-3">
                                <h6>
                                    Red Social
                                </h6>
                                <p>
                                    <a href=" https://wwww.usuarioapellido.com" target="blank">
                                        wwww.instagram.com/usuarioapellido
                                    </a>
                                </p>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="qui-item mb-3">
                                <h6>
                                    Dirección de correspondencia de correo
                                </h6>
                                <p>
                                    Carrera 43A Nº 3Sur - 130
                                </p>
                                <p>Medellin - Colombia</p>
                            </div>
                            <div class="qui-item mb-3">
                                <h6>
                                    Numero de Telefonos
                                </h6>
                                <p>
                                    Fijo
                                </p>
                                <p>
                                    +57 (4) 313-70-00
                                </p>
                                <p>
                                    Celular
                                </p>
                                <p>
                                    +57 (4) 313-44-77
                                </p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>
</div>